@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';
@import './type-styles.css';


/* DEVICE WIDTH */
@media only screen and (device-width: 1920px), only screen and (max-width: 1920px) {
  * {
    font-size: 16px;
  }

  /* Logo */
  #thameen-london {
    width: 284px;
    height: 45px;
    display: inline;
    margin: 25px auto;
    padding: 0;
  }


  /* Text Block */
  .text-container {
    @apply bg-white relative mx-auto w-screen px-4 lg:px-8 flex flex-col items-center justify-between md:flex-row top-[70vh] left-0 right-0 py-4;
  }

  .text-inner {
    @apply bg-white relative w-full h-full text-center space-y-4 ;
  }

  .heading-bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }

  .heading-reg {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }


  /* FW BANNER */

  #fw-banner {
    width: 100%;
    height: 900px;
    margin: auto;
    position: relative;
    top: 0;
  }

  .banner-container {
    @apply absolute inset-x-0 -top-12 overflow-hidden -z-10
  }

}


/* MOBILE */
@media screen and (max-width: 768px) {

  .banner-container {
    @apply top-0 !important;
  }

  #fw-banner {
    width: 100% !important;
    height: 720px !important;
    margin: auto;
    position: relative;
    top: 0;
  }

  .logo-container {
    position: relative;
    display: flex;
    margin-top: 20px;
  }

  /* Logo */
  #thameen-london {
    width: 284px;
    height: 45px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
  }

  .text-container {
    @apply top-[70vh];
  }


  .text-inner {
    @apply relative w-full h-full text-center space-y-2;
  }

  .heading-bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

  .heading-reg {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

    #thameen-london {
    display: flex;
    justify-content: center;
  }
}