@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';
@import './type-styles.css';

/* Logo */
#thameen-london {
  width: 284px;
  height: 45px;
  display: inline;
  margin: 25px auto;
  padding: 0;
}


/* Text Block */
.text-container {
  @apply bg-white relative mx-auto w-screen px-4 lg:px-8 flex flex-col items-center justify-between md:flex-row top-[80vh] left-0 right-0 py-4;
}

.text-inner {
  @apply bg-white relative w-full h-full text-center space-y-4 ;
}

  .heading-bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }

  .heading-reg {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }

.text-inner {
  @apply relative w-full h-full text-center space-y-4 ;
}



/* FW BANNER */

.banner-container {
  @apply absolute inset-x-0 top-0 overflow-hidden h-screen w-screen -z-10
}

#fw-banner {
  width: 100vw;
  height: 100vh;
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .text-container {
    @apply top-[78vh];
  }
  .heading-bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

  .heading-reg {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

    #thameen-london {
    display: flex;
    justify-content: center;
  }
}